<div class="padded">
  <header>
    <h2>Application Settings</h2>
  </header>

  <table class="table table-striped" id="application_settings_list">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Configured Value</th>
        <th>Applied Value</th>
        <th>Default Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Maximum failed login attempts</td>
        <td><%= ApplicationSetting['devise.maximum_attempts'] %></td>
        <td><%= Devise.maximum_attempts %></td>
        <td><%= ApplicationSetting.defaults['devise.maximum_attempts'] %></td>
      </tr>
      <tr>
        <td>Password archiving count</td>
        <td><%= ApplicationSetting['devise.password_archiving_count'] %></td>
        <td><%= Devise.password_archiving_count %></td>
        <td><%= ApplicationSetting.defaults['devise.password_archiving_count'] %></td>
      </tr>
      <tr>
        <td>Expire password after</td>
        <td><%= ApplicationSetting['devise.expire_password_after'].to_i / 1.day %> days</td>
        <td><%= Devise.expire_password_after.to_i / 1.day %> days</td>
        <td><%= ApplicationSetting.defaults['devise.expire_password_after'].to_i / 1.day %> days</td>
      </tr>
      <tr>
        <td>Session timeout in <sup><a href="#fn1" style="cursor: text; text-decoration: none !important">1</a></sup></td>
        <td><%= ApplicationSetting['devise.timeout_in'].to_i / 1.minute %> days</td>
        <td><%= Devise.timeout_in.to_i / 1.minute %> days</td>
        <td><%= ApplicationSetting.defaults['devise.timeout_in'].to_i / 1.minute %> days</td>
      </tr>
    </tbody>
  </table>
</div>

<p><small><sup>1</sup> A session timeout setting of zero means session expiration is disabled</small></p>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to 'Edit Settings', edit_application_settings_path %></li>
  </ul>
<% end %>
