<%= form_for(@provider) do |f| %>

  <%= render partial: 'shared/error_explanation', locals: { object: @provider } %>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.fields_for :address do |af| %>
    <%= render 'locations/address_form', { :f => af, required_fields: true } %>
  <% end %>
  <div class="field">
    <%= f.label :primary_contact_email, nil, class: "required" %>
    <%= f.text_field :primary_contact_email %>
  </div>
  <div class="field">
    <%= f.label :trip_ticket_expiration_days_before %>
    <%= f.number_field :trip_ticket_expiration_days_before, :min => 0, :max => 99 %>
  </div>
  <div class="field">
    <%= f.label :trip_ticket_expiration_time_of_day %>
    <%= f.time_select :trip_ticket_expiration_time_of_day, :ampm => true, :minute_step => 60, :include_blank => true %>
  </div>

  <% if @provider.new_record? && @user.present? %>
  <fieldset id="provider_admin_user">
    <legend>Administrative User</legend>
    <%= f.fields_for :users, @user do |user_fields| %>
      <%= render 'users/form_fields', { :f => user_fields } %>
    <% end %>
  </fieldset>
  <% end %>

  <div class="buttons-holder">
    <%= link_to :back, :class => "button button-cancel" do %>
      <span>Cancel</span>
    <% end %>
    <%= f.submit :class => "button" %>
  </div>
<% end %>
