<div class="padded">
  <header>
    <h2>Providers</h2>
  </header>

  <% if not @providers.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Contact</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @providers.each do |provider| %>
        <tr>
          <td><%= provider.id %></td>
          <td><%= link_to provider.name, provider_path(provider) %></td>
          <td><%= mail_to (provider.primary_contact_email) %></td>
          <td><% if can? :edit, provider %><%= link_to 'Edit', edit_provider_path(provider) %><% end %></td>
          <td>
            <% if provider.active? && can?(:deactivate, provider) %>
              <%= link_to 'Deactivate', deactivate_provider_path(provider), :method=>:post %>
            <% elsif !provider.active? && can?(:activate, provider) %>
              <%= link_to 'Activate', activate_provider_path(provider), :method=>:post %>
            <% else %>
              <%= provider.active? ? 'Active' : 'Inactive' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <p>No providers in the system.</p>
  <% end %>
</div>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <% if can? :create, Provider %>
      <li><%= link_to 'New Provider', new_provider_path %></li>
    <% end %>
  </ul>
<% end %>
