<div id="providers">
<h1>Providers</h1>

<% if not @providers.empty? %>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Contact</th>
    <th></th>
    <th></th>
  </tr>
  <% @providers.each do |provider| %>
    <tr>
      <td><%= provider.id %></td>
      <td><%= link_to provider.name, provider_path(provider) %></td>
      <td><%= link_to provider.primary_contact.name,
                      edit_user_path(provider.primary_contact) %></td>
      <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
      <% if provider.active? %>
        <td><%= link_to 'Deactivate', deactivate_provider_path(provider),
                        :method=>:post %></td>
      <% else %>
        <td><%= link_to 'Activate', activate_provider_path(provider),
                        :method=>:post %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<% else %>
  <p>No providers in the system.</p>
<% end %>

<br />

<%= link_to 'New Provider', new_provider_path %>
</div>
