<%= content_for :head do -%>
  <script type="text/javascript">
    $(document).ready(function($){
      $('#reset_keys_password_field').hide();
      $('#reset_keys_submit_field').hide();
      $('#reset_keys_accept').click(function(){
        if($(this).is(":checked")) {
          $('#reset_keys_password_field').show();
          $('#reset_keys_submit_field').show();
        }
        else {
          $('#reset_keys_password_field').hide();
          $('#reset_keys_password').val("");
          $('#reset_keys_submit_field').hide();
        }
      });
    });
  </script>
<% end %>

<h2><%= @provider.name %> Keys</h2>
<p>These keys are used by your CH Adapter to authenticate to the Clearinghouse API. <strong>These keys should be kept private.</strong></p>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th width="25%">Public API Key:</th>
    <td width="75%" nowrap><%= @provider.api_key %></td>
  </tr>
  <tr>
    <th>Private API Key:</th>
    <td nowrap><%= @provider.private_key %></td>
  </tr>
</table>
<br>
<%= link_to 'Back', provider_path(@provider) %>

<% if can? :reset_keys, @provider %>
  <hr>
  <h3>Reset API Keys</h3>
  <p class="warning">Your CH Adapter will be unable to connect to the API after reseting your keys until you update the configuration with the new keys! Do this only if you think your API keys have been compromised.</p>

  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited the API keys from being reset:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_tag reset_keys_provider_path(@provider), :method => :post do -%>
    <div class="field" id="reset_keys_accept_field">
      <%= check_box_tag 'reset_keys[accept]' %>
      <%= label_tag 'reset_keys[accept]', "I understand the risks and still want to reset my API keys" %>
    </div>
    <div class="field" id="reset_keys_password_field">
      <%= label_tag 'reset_keys[password]', "Confirm Your Password" %>
      <%= password_field_tag 'reset_keys[password]' %>
    </div>
    <div class="field" id="reset_keys_submit_field">
      <%= submit_tag "Reset API Keys!", :name => 'reset_keys[submit]', :disable_with => 'Reseting your keys...' %>
    </div>
  <% end -%>
<% end %>
