<h2><%= @provider.name %></h2>
<% if can? :edit, @provider %>
  <%= link_to 'Edit Provider', edit_provider_path(@provider) %>
<% end %>
<% if can? :keys, @provider %>
  <%= link_to 'View API Keys', keys_provider_path(@provider) %>
<% end %>

<%= render 'locations/show_fields', :location => @provider.address %>

<p>
  <b>Primary Contact:</b>
  <%= link_to @provider.primary_contact.name,
              user_path(@provider.primary_contact) %>
</p>

<% if can? :edit, @provider %>
  <h3>Members</h3>
  <%= render 'users/list', :users => @provider.users %>
  <br/>
  <%= link_to 'Create New User', new_user_path %><br/>
<% end %>

<br />

<%= link_to 'Back', providers_path %>
