<div class="padded">
  <header>
    <h2>Edit Trip Ticket Comment</h2>
  </header>

  <section class="form-holder">
    <%= render 'form' %>
  </section>

  <section id="audit_trail">
    <%= render 'shared/audit_trail', :record => @trip_ticket_comment %>
  </section>
</div>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to 'Comment Details', [@trip_ticket, @trip_ticket_comment] %></li>
    <li><%= link_to 'All Comments for Trip Ticket', trip_ticket_trip_ticket_comments_path(@trip_ticket) %></li>
    <li><%= link_to 'Trip Ticket Details', trip_ticket_path(@trip_ticket) %></li>      
  </ul>
<% end %>
