<div class="padded">
  <header>
    <h2>Trip Ticket Comment</h2>
  </header>

  <section class="form-holder">
    <div class="field">
      <label>Trip ticket:</label>
      <%= @trip_ticket.to_param %>
    </div>

    <div class="field">
      <label>User:</label>
      <%= @trip_ticket_comment.user.display_name %>
    </div>

    <div class="field">
      <label>Body:</label><br>
      <%= @trip_ticket_comment.body %>
    </div>
  </section>

  <section id="audit_trail">
    <%= render 'shared/audit_trail', :record => @trip_ticket_comment %>
  </section>
</div>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <% if can?(:edit, @trip_ticket_comment) %><li><%= link_to 'Edit', edit_trip_ticket_trip_ticket_comment_path(@trip_ticket, @trip_ticket_comment) %></li><% end %>
    <li><%= link_to 'All Comments for Trip Ticket', trip_ticket_trip_ticket_comments_path(@trip_ticket) %></li>
    <li><%= link_to 'Trip Ticket Details', trip_ticket_path(@trip_ticket) %></li>
  </ul>
<% end %>
