<section class="service_detail" style="margin-left: 1em">
  <h4 style="margin-bottom: 0.5em"><%= service.name %></h4>
  <% if can? :edit, service %>
    <%= link_to 'Edit Service',
                edit_provider_service_path(service.provider, service) %><br/>
  <% end %>
  <div style="margin-left: 1em">
    <h4>Service Area</h4>
    <div id="map-<%= service.id %>" class="map-view"></div>
    <br/>
    <h4>Service Area Eligibility</h4>
    <p><%= Service::SERVICE_AREA_TYPES[service.service_area_type.presence || 'none'] %></p>
    <h4>Hours</h4>
    <table class="table table-striped">
    <% service.operating_hours.each do |h| %>
      <tr>
        <th><%= Date::DAYNAMES[h.day_of_week] %></th>
        <td>
          <% if h.is_closed? %>
            Closed
          <% elsif h.is_24_hours? %>
            Open 24 hours
          <% else %>
            Open <%= h.open_time.to_formatted_s(:time) %>
            - <%= h.close_time.to_formatted_s(:time) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
    <h4>Rates and Fares</h4>
    <p><%= service.rate.presence || 'not defined' %></p>
    <section id="service-<%= service.id %>-eligibility-requirements">
      <%= render 'eligibility_requirements/list', :service => service %>
    </section>
    <section id="service-<%= service.id %>-mobility-accommodations">
      <%= render 'mobility_accommodations/list', :service => service %>
    </section>
  </div>
  <script type="text/javascript" charset="utf-8">
    <%
      points = []
      if !service.service_area.nil?
        service.service_area.exterior_ring().points.each do |p|
          points << "new google.maps.LatLng(#{p.y}, #{p.x})"
        end
      end
    %>
    $(document).ready(function() {
      var points = [ <%= points.join(", ") %> ];
      if (!window.services) {
        services = new Services([]);
        services.initialize();
      }
      services.create_map_view($("#map-<%= service.id %>")[0], points);
    });
  </script>
</section>
