<%= form_for([@service.provider, @service]) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <fieldset>
    <legend>Service Area</legend>
    <div id="service_area">
      <div id="map-definition"></div>
      <div id="map-help">
        <h4>Defining your service area</h4>
        <ul>
          <li>Create points to define the shape map by clicking the map.</li>
          <li>Click a point to remove it from the shape.</li>
          <li>Drag the virtual point between two points to create a new point.</li>
        </ul>
        <br/><br/>
        <input type="button" id="clear-map" value="Delete all points" />
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Trip Ticket Filtering</legend>
    <div class="field">
    <%= f.select :service_area_type, Service::SERVICE_AREA_TYPES.invert %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Operating Hours</legend>
    <table style="border-collapse: collapse">
      <% Date::DAYNAMES.each_with_index do |day_name, day_value| %>
      <% hours = @hours[day_value] %>
      <tr <%= (!hours.nil? and hours.errors.any?) ?
              'class=row_with_errors' : '' %>>
        <td><%= day_name %></td>
        <td>
          <%= radio_button_tag "hours[#{day_value}]", 'closed',
                               (hours.nil? or hours.is_closed?),
                               :id => "hours-#{day_value}-closed",
                               :class => "hours-#{day_value}" %>
          Closed
          <%= radio_button_tag "hours[#{day_value}]", 'open24',
                               (!hours.nil? and hours.is_24_hours?),
                               :id => "hours-#{day_value}-open-24",
                               :class => "hours-#{day_value}" %>
          Open 24 hours
          <%= radio_button_tag "hours[#{day_value}]", 'open',
                               (!hours.nil? and hours.is_regular_hours?),
                               :id => "hours-#{day_value}-open",
                               :class => "hours-#{day_value}" %>
          Open...
          <select id="start-hour-<%= day_value %>"
                  name="start_hour[<%= day_value %>]">
            <% @start_hours.each do |h| %>
              <option value="<%= h %>"
                <%= !hours.nil? and h == hours.open_time ? "selected" : "" %>>
                <%= h.to_formatted_s :time %>
              </option>
            <% end %>
          </select> to
          <select id="end-hour-<%= day_value %>"
                  name="end_hour[<%= day_value %>]">
            <% @end_hours.each do |h| %>
              <option value="<%= h %>"
                <%= !hours.nil? and h == hours.close_time ? "selected" : "" %>>
                <%= h.to_formatted_s :time %></option>
            <% end %>
          </select>
        </td>
        <% if !hours.nil? and hours.errors.any? %>
        <td>
          <% hours.errors.full_messages.each do |msg| %>
            <span class="error"><%= msg %></span><br/>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </fieldset>

  <fieldset>
    <legend>Funding</legend>
    <p><em>TBD</em></p>
  </fieldset>

  <fieldset>
    <legend>Rates</legend>
    <div class="field">
      <%= f.text_area :rate, :rows => 5 %><br/>
      Enter a brief description of your rate structure.
    </div>
  </fieldset>

  <div class="buttons-holder">
    <%= link_to :back, :class => "button button-cancel" do %>
      <span>Cancel</span>
    <% end %>
    <%= f.submit :class => "button" %>
  </div>
<% end %>

<%# Make the polygon available for the map to display %>
<script type="text/javascript" charset="utf-8">
  <%
    points = []
    if !@service.service_area.nil?
      @service.service_area.exterior_ring().points.each do |p|
        points << "new google.maps.LatLng(#{p.y}, #{p.x})"
      end
    end
  %>
  var points = [ <%= points.join(", ") %> ];
  $(document).ready(function() {
    services = new Services();
    services.initialize();
    services.create_map_editor(points);
  });
</script>

