<% @service = service if defined?(service) %>
<h3><%= @service.name %> Mobility Accommodations</h3>
<% if @service.mobility_accommodations.any? %>
  <table class="table table-striped">
    <thead><tr>
      <th>Mobility Impairment</th>
      <th></th>
      <th></th>
    </tr></thead>
    <tbody>
      <% @service.mobility_accommodations.each do |ms| %>
        <tr>
          <td><%= ms.mobility_impairment %></td>
          <td><%= link_to 'Edit Accommodation', edit_mobility_accommodation_path(ms) %></td>
          <td><%= link_to 'Delete Accommodation', ms, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4>No mobility accommodations defined</h4>
<% end %>

<% if can? :create, MobilityAccommodation %>
  <%= link_to 'Create New Mobility Service', new_provider_service_mobility_accommodation_path(@service.provider, @service) %><br/>
<% end %>
