<%= form_for([@trip_ticket, @trip_claim]) do |f| %>
  
  <%= render partial: 'shared/error_explanation', locals: { object: @trip_claim } %>

  <%= render partial: 'form_fields', locals: { f: f, trip_ticket: @trip_ticket, trip_claim: @trip_claim } %>

  <% if can?(:edit, @trip_claim) and @trip_claim.editable? %>
    <div class="buttons-holder field-align">
      <%= link_to :back, :class => "button button-cancel" do %>
        <span>Cancel</span>
      <% end %>
      <%= f.submit :class => "button" %>
    </div>
  <% end %>
<% end %>
