<header>
  <h2>Trip Claims</h2>
</header>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Originator</th>
      <th>Claimant</th>
      <th>Ticket</th>
      <th>Status</th>
      <th>Proposed<br>Pickup Time</th>
      <th>Proposed<br>Fare</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @trip_claims.each do |trip_claim| %>
      <tr>
        <td><%= trip_claim.trip_ticket.originator.name %></td>
        <td><%= trip_claim.claimant.name %></td>
        <td><%= address_and_city trip_claim.trip_ticket.pick_up_location %></td>
        <td><%= trip_claim.status.to_s.humanize.titlecase %></td>
        <td><%= trip_claim.proposed_pickup_time.blank? ? "" : trip_claim.proposed_pickup_time.to_s(:long) %></td>
        <td><%= trip_claim.proposed_fare %></td>
        <td>
          <ul>
            <li><%= link_to 'View Ticket', trip_ticket_path(trip_claim.trip_ticket) %></li>
            <li><%= link_to 'View Claim', trip_ticket_trip_claim_path(trip_claim.trip_ticket, trip_claim) %></li>
            <% if can?(:approve, trip_claim) && trip_claim.editable? %>
              <li><%= link_to 'Approve', approve_trip_ticket_trip_claim_path(trip_claim.trip_ticket, trip_claim), method: :post, data: { confirm: 'Are you sure you want to APPROVE this claim?' } %></li>
            <% end %>
            <% if can?(:decline, trip_claim) && trip_claim.editable? %>
              <li><%= link_to 'Decline', decline_trip_ticket_trip_claim_path(trip_claim.trip_ticket, trip_claim), method: :post, data: { confirm: 'Are you sure you want to DECLINE this claim?' } %></li>
            <% end %>
            <% if can?(:edit, trip_claim) && trip_claim.editable? %>
              <li><%= link_to 'Edit', edit_trip_ticket_trip_claim_path(trip_claim.trip_ticket, trip_claim) %></li>
            <% end %>
            <% if can?(:rescind, trip_claim) && trip_claim.editable? %>
              <li><%= link_to 'Rescind', rescind_trip_ticket_trip_claim_path(trip_claim.trip_ticket, trip_claim), method: :post, data: { confirm: 'Are you sure you want to RESCIND this claim?' } %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <section>
    <ul class="side-nav">
      <% if can? :create, TripTicket %><li><%= link_to 'New Trip ticket', new_trip_ticket_path %></li><% end %>
    </ul>
  </section>
<% end %>
