<div id="trip-claim-show">

  <p id="notice"><%= notice %></p>

  <%= render 'form' %>

  <ul>
    <li><%= link_to 'Back', trip_ticket_path(@trip_ticket, :anchor => :trip_claims) %></li>
    <% if !@trip_ticket.approved? %>
      <% if can? :edit, @trip_claim %>
        <li><%= link_to 'Edit', edit_trip_ticket_trip_claim_path(@trip_ticket, @trip_claim) %></li>
      <% end %>
      <% if can? :destroy, @trip_claim %>
        <li><%= link_to 'Rescind', trip_ticket_trip_claim_path(@trip_ticket, @trip_claim), method: :delete, data: { confirm: 'Are you sure you want to RESCIND this claim?' } %></li>
      <% end %>
      <% if can? :approve, @trip_claim %>
        <li><%= link_to 'Approve', approve_trip_ticket_trip_claim_path(@trip_ticket, @trip_claim), method: :post, data: { confirm: 'Are you sure you want to APPROVE this claim?' } %></li>
      <% end %>
      <% if can? :decline, @trip_claim %>
        <li><%= link_to 'Decline', decline_trip_ticket_trip_claim_path(@trip_ticket, @trip_claim), method: :post, data: { confirm: 'Are you sure you want to DECLINE this claim?' } %></li>
      <% end %>
    <% end %>
  </ul>

  <hr />
  <div id="audit_trail">
    <%= render 'shared/audit_trail', :record => @trip_claim %>
  </div>
</div>