  <div class="field">
    <label>Outcome</label>
    <%= result.outcome %>
  </div>
  <div class="field">
    <label>Actual pick-up time</label>
    <%= result.actual_pick_up_time %>
  </div>
  <div class="field">
    <label>Actual drop-off time</label>
    <%= result.actual_drop_off_time %>
  </div>
  <div class="field">
    <label>Rate</label>
    <%= result.rate %>
  </div>
  <div class="field">
    <label>Base fare</label>
    <%= result.base_fare %>
  </div>
  <div class="field">
    <label>Fare</label>
    <%= result.fare %>
  </div>
  <div class="field">
    <label>Driver ID</label>
    <%= result.driver_id %>
  </div>
  <div class="field">
    <label>Miles traveled</label>
    <%= result.miles_traveled %>
  </div>
  <div class="field">
    <label>Odometer start</label>
    <%= result.odometer_start %>
  </div>
  <div class="field">
    <label>Odometer end</label>
    <%= result.odometer_end %>
  </div>
  <div class="field">
    <label>Billable mileage</label>
    <%= result.billable_mileage %>
  </div>
  <div class="field">
    <label>Extra securement count</label>
    <%= result.extra_securement_count %>
  </div>
  <div class="field">
    <label>Notes</label>
    <%= result.notes %>
  </div>
