<h3><%= @provider.name %> Mobility Accomodations</h3>
<% if @provider.mobility_accomodations.any? %>
  <table class="table table-striped">
    <thead><tr>
      <th>Mobility Impairment</th>
      <th></th>
      <th></th>
    </tr></thead>
    <tbody>
      <% @provider.mobility_accomodations.each do |ms| %>
        <tr>
          <td><%= ms.mobility_impairment %></td>
          <td><%= link_to 'Edit Service', edit_mobility_accomodation_path(ms) %></td>
          <td><%= link_to 'Delete Service', ms, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4>No mobility accomodations defined</h4>
<% end %>

<% if can? :create, MobilityAccomodation %>
  <%= link_to 'Create New Mobility Service', new_provider_mobility_accomodation_path(@provider) %><br/>
<% end %>
