<%= form_for(@user) do |f| %>
  
  <%= render partial: 'shared/error_explanation', locals: { object: @user } %>

  <%= render 'form_fields', { :f => f } %>

  <div class="buttons-holder field-align">
    <%= link_to :back, :class => "button button-cancel" do %>
      <span>Cancel</span>
    <% end %>
    <%= f.submit :class => "button" %>
  </div>
<% end %>
