<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :provider %><br/>
    <% if can? :set_provider, User %>
      <%= collection_select :user, :provider_id, Provider.all, :id, :name,
                            :include_blank => true %>
    <% else %>
      <% if @user.provider.nil? %>
        <span style="color: #aaa">(none)</span>
      <% else %>
        <%= link_to @user.provider.name, provider_path(@user.provider) %>
      <% end %>
    <% end %>
  </div>
  <% if can? :set_any_role, @user and @user != current_user %>
    <div class="field">
      <%= f.label :role %><br />
      <%= collection_select :user, :role_ids, Role.all, :id, :name %>
    </div>
  <% elsif can? :set_provider_role, @user and @user != current_user %>
    <div class="field">
      <%= f.label :role %><br />
      <%= collection_select :user, :role_ids, Role.provider_roles, :id, :name %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
