<%# Optional locals: %>
<% show_provider ||= false %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th><% if show_provider %>Provider<% end %></th>
      <th>Title</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <%# Don't show inactive users unless administrator %>
      <% if user.active or can? :edit, user %>
        <tr>
          <td><%= link_to_if can?(:view, user), user.name, user_path(user)%></td>
          <td>
            <% if show_provider %>
              <% if user.provider %>
                <%= link_to user.provider.name, provider_path(user.provider) %>
              <% else %>
                <span style="color: #aaa">(none)</span>
              <% end %>
            <% end %>
          </td>
          <td><%= user.title %></td>
          <td><%= link_to user.email, "mailto:#{user.email}" %></td>
          <td><%= user.phone %></td>
          <td><% if can? :edit, user %><%= link_to 'Edit User', edit_user_path(user) %><% end %></td>
          <td>
            <% if user.active? && can?(:deactivate, user) %>
              <%= link_to 'Deactivate', deactivate_user_path(user), :method=>:post %>
            <% elsif !user.active? && can?(:activate, user) %>
              <%= link_to 'Activate', deactivate_user_path(user), :method=>:post %>
            <% else %>
              <%= user.active? ? 'Active' : 'Inactive' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
