<div id="users">
<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Title</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.email, edit_user_path(user) %></td>
    <td><%= user.name %></td>
    <td><%= user.title %></td>
    <td><%= user.phone %></td>
    <% if user.active? %>
      <td><%= link_to 'Deactivate', deactivate_user_path(user), :method=>:post %></td>
    <% else %>
      <td><%= link_to 'Activate', activate_user_path(user), :method=>:post %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
</div>
