<h2><%= @user.name %></h2>

<p>
<% if can? :edit, @user %>
  <%= link_to 'Edit User', edit_user_path(@user) %>
<% end %>
</p>

<% unless @user.provider.nil? %>
  <% unless @user.title.blank? %><%= @user.title %> at<% end %>
  <%= link_to @user.provider.name, provider_path(@user.provider) %>
<% end %>


<p>
  <% unless @user.email.blank? %>
    <%= link_to @user.email, "mailto:#{@user.email}" %><br/>
  <% end %>
  <% unless @user.phone.blank? %><%= @user.phone %><br/><% end %>
</p>

<%= link_to 'Back', users_path %>
