<div class="padded">
  <header>
    <h2><%= @user.display_name %></h2>
  </header>

  <section class="form-holder">
    <div class="field">
      <label>Provider:</label>
      <% unless @user.title.blank? %><%= link_to @user.provider.name, provider_path(@user.provider) %><% end %>
    </div>

    <div class="field">
      <label>Title:</label>
      <%= @user.title %>
    </div>

    <div class="field">
      <label>Email:</label>
      <%= link_to_unless @user.email.blank?, @user.email, "mailto:#{@user.email}" %>
    </div>

    <div class="field">
      <label>Phone:</label><br>
      <%= @user.phone %>
    </div>

    <%= notification_preferences(@user) %>
  </section>
</div>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <% if current_user.has_any_role?([:site_admin, :provider_admin]) %>
      <li><%= link_to 'All Users', users_path %></li>
    <% end %>
    <% if can? :edit, @user %>
      <li><%= link_to 'Edit User', edit_user_path(@user) %></li>
    <% end %>
  </ul>
<% end %>
