<div class="padded">
  <header>
    <h2>Forgot your password?</h2>
  </header>
  
  <section class="form-holder">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="buttons-holder">
        <%= f.submit "Send me reset password instructions", :class => "button" %>
      </div>
    <% end %>
  </section>
</div>

<%= render "devise/shared/links" %>
