<h2>Change History</h2>
<% if record.audits.size -%>
  <ul>
    <% record.audits.each do |audit| -%>
      <li><strong><%= audit.created_at.to_s(:long) %></strong> by <em><%=audit.user.name %></em><br>
        <% if audit.action == "create" %>
          Record created
        <% elsif audit.action == "destroy" %>
          Record deleted
        <% else %>
          <ul>
            <% audit.audited_changes.each do |attribute, change| %>
              <li>
                <strong><%= attribute.humanize %></strong> was changed from 
                <em><%= change[0].blank? ? "[an empty value]" : change[0].to_s %></em> to
                <em><%= change[1].blank? ? "[an empty value]" : change[1].to_s %></em>
              </li>
            <% end -%>
          </ul>
        <% end -%>
      </li>
    <% end -%>
  </ul>
<% end -%>