<% if defined?(no_header) && !no_header %>
<header>
  <h2>Change History</h2>
</header>
<% end %>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th width="15%">Changed at</th>
      <th width="15%">By</th>
      <th width="70%">Changes</th>
    </tr>
  </thead>
  <tbody>
    <% audits.try(:each) do |audit| -%>
      <tr>
        <td><%= audit.created_at.to_s(:long) %></td>
        <td><% if audit.user %><%= link_to_if (defined?(can?) && can?(:read, audit.user)), audit.user.display_name, audit.user %><% end %></td>
        <td>
          <% if audit.action == "create" %>
            Record created
          <% elsif audit.action == "destroy" %>
            Record deleted
          <% else %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="30%">Attribute</th>
                  <th width="35%">From</th>
                  <th width="35%">To</th>
                </tr>
              </thead>
              <tbody>
                <% audit.audited_changes.each do |attribute, change| %>
                  <% next if change[0].blank? && change[1].blank? %>
                  <tr>
                    <td><%= attribute.humanize %></td>
                    <td><%= formatted_audit_attribute attribute, change[0] %></td>
                    <td><%= formatted_audit_attribute attribute, change[1] %></td>
                  </tr>
                <% end -%>
              </tbody>
            </table>
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
