<%= form_for(@trip_ticket) do |f| %>
  
  <%= render partial: 'shared/error_explanation', locals: { object: @trip_ticket } %>

  <% unless @trip_ticket.new_record? %>
    <fieldset id="status" class="">
      <legend>Status</legend>
      <div class="field">
        <%= f.label :status, "Status" %>
        <%= @trip_ticket.status_for(current_user) %>
      </div>
    </fieldset>
  <% end %>

  <fieldset id="originator" class="">
    <legend>Originator</legend>

    <div class="field">
      <%= f.label :origin_provider_id, "Provider" %>
      <%= @trip_ticket.originator.name %>
    </div>
    <% if can? :edit, @trip_ticket %>
      <div class="field">
        <%= f.label :origin_customer_id, "Customer ID", class: "required" %>
        <%= f.text_field :origin_customer_id %>
      </div>
      <div class="field">
        <%= f.label :origin_trip_id, "Trip ID" %>
        <%= f.text_field :origin_trip_id %>
      </div>
    <% end %>
  </fieldset>

  <fieldset id="customer" class="">
    <legend>Customer</legend>
    <div class="field">
      <%= f.label :customer_first_name, "First Name", class: "required" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.text_field :customer_first_name %>
      <% else %>
        <%= @trip_ticket.customer_first_name %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_middle_name, "Middle Name" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.text_field :customer_middle_name %>
      <% else %>
        <%= @trip_ticket.customer_middle_name %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_last_name, "Last Name", class: "required" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.text_field :customer_last_name %>
      <% else %>
        <%= @trip_ticket.customer_last_name %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_dob, "Date of Birth", class: "required" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.date_select(:customer_dob,
                          :order => [:month, :day, :year],
                          :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' },
                          :start_year => Time.zone.now.year - 100,
                          :end_year => Time.zone.now.year
        ) %>
      <% else %>
        <%= @trip_ticket.customer_dob %>
      <% end %>
    </div>
    <% if can? :edit, @trip_ticket %>
      <%= f.fields_for :customer_address do |af| %>
        <%= render 'locations/address_form', { :f => af, required_fields: false } %>
      <% end %>
    <% else %>
      <%= render 'locations/show_fields', :location => @trip_ticket.customer_address %>
    <% end %>
    <div class="field">
      <%= f.label :customer_primary_phone, "Primary Phone Number", class: "required" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.phone_field :customer_primary_phone %>
      <% else %>
        <%= @trip_ticket.customer_primary_phone %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_emergency_phone, "Emergency Phone Number" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.phone_field :customer_emergency_phone %>
      <% else %>
        <%= @trip_ticket.customer_emergency_phone %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_primary_language, "Primary Language" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.text_field :customer_primary_language %>
      <% else %>
        <%= @trip_ticket.customer_primary_language %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_race, "Race" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.text_field :customer_race, :placeholder => "Other Race", :list => "customer_race_data" %>
        <datalist id="customer_race_data">
          <%= options_for_select(TripTicket::RACE_CHOICES) %>
        </datalist>
      <% else %>
        <%= @trip_ticket.customer_ethnicity %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_ethnicity, "Ethnicity" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.text_field :customer_ethnicity, :placeholder => "Other ethnicity", :list => "customer_ethnicity_data" %>
        <datalist id="customer_ethnicity_data">
          <%= options_for_select(TripTicket::ETHNICITY_CHOICES) %>
        </datalist>
      <% else %>
        <%= @trip_ticket.customer_ethnicity %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_impairment_description, "Impairment Description" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.text_field :customer_impairment_description %>
      <% else %>
        <%= @trip_ticket.customer_impairment_description %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_service_level, "Service Level" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.text_field :customer_service_level %>
      <% else %>
        <%= @trip_ticket.customer_service_level %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_information_withheld, "Information Withheld?", class: "required" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.select :customer_information_withheld, [["Yes", true], ["No", false]], :include_blank => true %>
      <% else %>
        <%= @trip_ticket.customer_information_withheld %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_notes %>
      <% if can? :edit, @trip_ticket %>
        <%= f.text_area :customer_notes %>
      <% else %>
        <%= @trip_ticket.customer_notes %>
      <% end %>
    </div>
    <div class="field" id="customer_identifiers">
      <label>Customer Identifiers</label>
      <% if can? :edit, @trip_ticket %>
        <div class="field-array" style="display:inline-block">
          <%= f.fields_for :customer_identifiers, @trip_ticket.customer_identifiers do |ci| %>
            <% # TODO - Refactor this line to use an array constant of fields to ignore. Also, see if this is a bug for Rails or the Hstore gem %>
            <% @trip_ticket.customer_identifiers.try(:except, *[:builder, :parent_builder, :namespace, "builder", "parent_builder", "namespace"]).try(:each) do |k,v| %>
              <div class="field hstoreAttribute">
                <%= text_field_tag k, k, :class => 'hstoreAttributeName', :size => 30 %>
                <%= ci.text_field k, :value => v, :placeholder => "value for #{k}", :class => 'hstoreAttributeValue', :size => 30 %>
                <a href="#" class='removeHstoreAttribute'>X</a>
              </div>
            <% end %>
          
            <% 
              customer_identifier_fields = '<div class="field hstoreAttribute">' + 
                                           text_field_tag('', '', :name => '', :id => '', :placeholder => 'New Attribute name', :value => '', :class => 'hstoreAttributeName', :size => 30) + ' ' +
                                           text_field_tag('', '', :name => '', :id => '', :placeholder => 'value', :value => '', :class => 'hstoreAttributeValue', :size => 30) + 
                                           '<a href="#" class="removeHstoreAttribute">X</a></div>'
            %>

            <%= raw(customer_identifier_fields) %>

            <div><a href="#" id="add_customer_identifier">Add Customer Identifier</a></div>
          </div>

          <script type='text/javascript'>
            $(document).ready(function() {
              $('#customer_identifiers').delegate('.hstoreAttributeName', 'keyup', function(e){
                $nameEl  = $(this);
                name     = $.trim($nameEl.val()).toLowerCase();
                $valueEl = $($nameEl.siblings('.hstoreAttributeValue')[0]);
                $valueEl.attr('id',          'trip_ticket_customer_identifiers_' + name);
                $valueEl.attr('name',        'trip_ticket[customer_identifiers][' + name + ']');
                $valueEl.attr('placeholder', 'value for ' + name);
              });

              $('#customer_identifiers').delegate('.removeHstoreAttribute', 'click', function(event){
                event.preventDefault();
                $(this).closest('.hstoreAttribute').remove();
                blankify_customer_identifiers();
              });

              $('#add_customer_identifier').on('click', function(event){
                event.preventDefault();
                $(this).parent().before('<%= j raw(customer_identifier_fields) %>');
                $('#customer_identifiers .hstoreAttributeName:last').focus();
                blankify_customer_identifiers();
              });

              function blankify_customer_identifiers() {
                $customer_identifiers = $('#customer_identifiers');
                hstoreAttributeCount = $customer_identifiers.find('.hstoreAttribute').size();
                if (hstoreAttributeCount == 0) {
                  $customer_identifiers.append('<input type="hidden" id="trip_ticket_customer_identifiers_blank" name="trip_ticket[customer_identifiers]" value="">');
                }
                else {
                  $('#trip_ticket_customer_identifiers_blank').remove();
                }
              }
            });
          </script>
        <% end %>
      <% else %>
        <ul>
          <% @trip_ticket.customer_identifiers.try(:each) do |k,v| %>
            <li><strong><%= k %></strong>: <%= v %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <%
      field_indexes = {}
      TripTicket::CUSTOMER_IDENTIFIER_ARRAY_FIELDS.each do |field_sym, legend| 
    %>
      <div class="field" id="<%= field_sym.to_s %>">
        <label><%= legend.pluralize %></label>
        <% if can? :edit, @trip_ticket %>
          <div class="field-array" style="display:inline-block">
            <% field_indexes[field_sym] = 0 %>
            <% @trip_ticket.send(field_sym).try(:each_with_index) do |v,index| %>
              <div class="field pgStringArray">
                <%= text_field_tag "trip_ticket[#{field_sym.to_s}][]", v, :id => "trip_ticket_#{field_sym.to_s}_#{index.to_s}", :placeholder => 'New eligibility factor', :class => "pgStringArrayValue", :size => 30 %>
                <a href="#" class='removePgStringArray'>X</a>
              </div>
              <% field_indexes[field_sym] += 1 %>
            <% end %>
      
            <%
              field_html = '<div class="field pgStringArray">' + 
                           text_field_tag("trip_ticket[#{field_sym.to_s}][]", '', :id => "trip_ticket_#{field_sym.to_s}_?", :placeholder => "New #{legend}", :class => "pgStringArrayValue", :size => 30) + ' ' +
                           '<a href="#" class="removePgStringArray">X</a></div>'
            %>

            <%= raw(field_html.gsub('?', field_indexes[field_sym].to_s)) %>

            <div><a href="#" id="add_<%= field_sym.to_s %>">Add <%= legend %></a></div>
          </div>
          
          <script type='text/javascript'>
            window.field_indexes_<%= field_sym.to_s %> = <%= field_indexes[field_sym] %>
            $(document).ready(function() {
              $('#<%= field_sym.to_s %>').delegate('.removePgStringArray', 'click', function(event){
                event.preventDefault();
                $(this).closest('.pgStringArray').remove();
                blankify_<%= field_sym.to_s %>();
              });

              $('#add_<%= field_sym.to_s %>').on('click', function(event){
                event.preventDefault();
                window.field_indexes_<%= field_sym.to_s %> += 1;
                $(this).parent().before('<%= j raw(field_html) %>'.replace('?', window.field_indexes_<%= field_sym.to_s %>));
                $('#trip_ticket_<%= field_sym.to_s %>_?'.replace('?', window.field_indexes_<%= field_sym.to_s %>)).focus();
                blankify_<%= field_sym.to_s %>();
                setup_autocomplete_fields();
              });

              function blankify_<%= field_sym.to_s %>() {
                $<%= field_sym.to_s %> = $('#<%= field_sym.to_s %>');
                pgStringArrayCount = $<%= field_sym.to_s %>.find('.pgStringArray').size();
                if (pgStringArrayCount == 0) {
                  $<%= field_sym.to_s %>.append('<input type="hidden" id="trip_ticket_<%= field_sym.to_s %>_blank" name="trip_ticket[<%= field_sym.to_s %>][]" value="">');
                }
                else {
                  $('#trip_ticket_<%= field_sym.to_s %>_blank').remove();
                }
              }
            });
          </script>
        <% else %>
          <ul>
            <% @trip_ticket.send(field_sym).try(:each) do |v| %>
              <li><%= v %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :provider_white_list %>
      <% if can? :edit, @trip_ticket %>
        <%= f.collection_select :provider_white_list, @providers_for_lists, :id, :name, {}, {:multiple => true, :size => [10, @providers_for_lists.size].min} %>
      <% else %>
        <%= providers_from_white_black_list(@trip_ticket.provider_white_list) %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :provider_black_list %>
      <% if can? :edit, @trip_ticket %>
        <%= f.collection_select :provider_black_list, @providers_for_lists, :id, :name, {}, {:multiple => true, :size => [10, @providers_for_lists.size].min} %>
      <% else %>
        <%= providers_from_white_black_list(@trip_ticket.provider_black_list) %>
      <% end %>
    </div>
  </fieldset>

  <fieldset id="drop_off_location" class="">
    <legend>Drop Off Location</legend>
    <% if can? :edit, @trip_ticket %>
      <%= f.fields_for :drop_off_location do |af| %>
        <%= render 'locations/address_form', { :f => af, required_fields: true } %>
      <% end %>
    <% else %>
      <%= render 'locations/show_fields', :location => @trip_ticket.drop_off_location %>
    <% end %>
  </fieldset>

  <fieldset id="pick_up_location" class="">
    <legend>Pick Up Location</legend>
    <% if can? :edit, @trip_ticket %>
      <%= f.fields_for :pick_up_location do |af| %>
        <%= render 'locations/address_form', { :f => af, required_fields: true } %>
      <% end %>
    <% else %>
      <%= render 'locations/show_fields', :location => @trip_ticket.pick_up_location %>
    <% end %>
  </fieldset>

  <fieldset id="trip_information" class="">
    <legend>Trip Information</legend>

    <div class="field">
      <%= f.label :appointment_time, class: "required" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.datetime_select :appointment_time, :ampm => true, :minute_step => 15, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.appointment_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :requested_pickup_time, class: "required" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.time_select :requested_pickup_time, :ampm => true, :minute_step => 15, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.requested_pickup_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :requested_drop_off_time, class: "required" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.time_select :requested_drop_off_time, :ampm => true, :minute_step => 15, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.requested_drop_off_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :earliest_pick_up_time %>
      <% if can? :edit, @trip_ticket %>
        <%= f.time_select :earliest_pick_up_time, :ampm => true, :minute_step => 15, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.earliest_pick_up_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :allowed_time_variance %> (in minutes):
      <% if can? :edit, @trip_ticket %>
        <%= f.select :allowed_time_variance, [["Any", -1]] + (1..60).to_a.select{ |i| i % 10 == 0 }, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.allowed_time_variance %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_boarding_time, "Boarding time required" %> (in minutes):
      <% if can? :edit, @trip_ticket %>
        <%= f.number_field :customer_boarding_time, :min => 0, :max => 15 %>
      <% else %>
        <%= @trip_ticket.customer_boarding_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_deboarding_time, "Deboarding time required" %> (in minutes):
      <% if can? :edit, @trip_ticket %>
        <%= f.number_field :customer_deboarding_time, :min => 0, :max => 15 %>
      <% else %>
        <%= @trip_ticket.customer_deboarding_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_seats_required, "Seats Required", class: "required" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.number_field :customer_seats_required, :min => 0 %>
      <% else %>
        <%= @trip_ticket.customer_seats_required %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :num_attendants, "Number of Attendants" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.number_field :num_attendants, :min => 0 %>
      <% else %>
        <%= @trip_ticket.num_attendants %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :num_guests, "Number of Guests" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.number_field :num_guests, :min => 0 %>
      <% else %>
        <%= @trip_ticket.num_guests %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :scheduling_priority, class: "required" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.select :scheduling_priority, TripTicket::SCHEDULING_PRIORITY.invert, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.scheduling_priority %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :trip_purpose_description, "Trip Purpose" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.text_field :trip_purpose_description %>
      <% else %>
        <%= @trip_ticket.trip_purpose_description %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :trip_notes %>
      <% if can? :edit, @trip_ticket %>
        <%= f.text_area :trip_notes %>
      <% else %>
        <%= @trip_ticket.trip_notes %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :expire_at, "Trip Expires At" %>
      <% if can? :edit, @trip_ticket %>
        <%= f.datetime_select :expire_at, :ampm => true, :minute_step => 60, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.expire_at %>
      <% end %>
    </div>
  </fieldset>

  <fieldset id="info" class="">
    <legend>Info</legend>

    <div class="field">
      <%= f.label :created_at, "Created" %>
      <%= @trip_ticket.created_at %>
    </div>
    <div class="field">
      <%= f.label :updated_at, "Updated" %>
      <%= @trip_ticket.updated_at %>
    </div>
    <% if can? :edit, @trip_ticket %>
      <div class="field">
        <%= f.label :expired, "Expired?" %>
        <%= @trip_ticket.expired? ? "True" : "False" %>
      </div>
    <% end %>
  </fieldset>

  <% if can? :edit, @trip_ticket %>
    <div class="buttons-holder field-align">
      <%= link_to (@trip_ticket.persisted? ? @trip_ticket : trip_tickets_path), :class => "button button-cancel" do %>
        <span>Cancel</span>
      <% end %>
      <%= f.submit :class => "button" %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  var service_level_autocomplete_data = JSON.parse('<%= escape_javascript(service_level_autocomplete_values.to_json.html_safe) %>');
  var eligibility_autocomplete_data = JSON.parse('<%= escape_javascript(eligibility_autocomplete_values.to_json.html_safe) %>');

  function setup_autocomplete_fields() {
    $("input[name^='trip_ticket[customer_service_level]']").autocomplete({ source: service_level_autocomplete_data });
    $("input[name^='trip_ticket[customer_eligibility_factors]']").autocomplete({ source: eligibility_autocomplete_data });
  }

  $(document).ready(function(){
    setup_autocomplete_fields();
  });
</script>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <% if @trip_ticket.persisted? && !@trip_ticket.rescinded? && can?(:rescind, @trip_ticket) && @trip_ticket.rescindable? %>
      <li><%= link_to 'Rescind', rescind_trip_ticket_path(@trip_ticket.id), method: :post, data: { confirm: 'Are you sure you want to RESCIND this trip ticket?' } %></li>
    <% end %>
  </ul>
<% end %>
