<%= form_for(@trip_ticket) do |f| %>
  <% if @trip_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_ticket.errors.count, "error") %> prohibited this trip_ticket from being saved:</h2>

      <ul>
      <% @trip_ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset id="originator" class="">
    <legend>Originator</legend>

    <div class="field">
      <%= f.label :origin_provider_id, "Provider" %>:
      <% if @current_user.has_admin_role? && can?(:edit, @trip_ticket) %>
        <br /><%= f.collection_select :origin_provider_id, Provider.all, :id, :name, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.originator.name %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :origin_customer_id, "Customer ID" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.text_field :origin_customer_id, :readonly => true %>
      <% else %>
        <%= @trip_ticket.origin_customer_id %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :origin_trip_id, "Trip ID" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.text_field :origin_trip_id, :readonly => true %>
      <% else %>
        <%= @trip_ticket.origin_trip_id %>
      <% end %>
    </div>
  </fieldset>

  <fieldset id="claimant" class="">
    <legend>Claimant</legend>

    <div class="field">
      <%= f.label :claimant_provider_id, "Provider" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.collection_select :claimant_provider_id, Provider.all, :id, :name, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.claimant.name if @trip_ticket.claimant.present? %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :claimant_trip_id, "Trip ID" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.text_field :claimant_trip_id, :readonly => true %>
      <% else %>
        <%= @trip_ticket.claimant_trip_id %>
      <% end %>
    </div>
  </fieldset>

  <fieldset id="customer" class="">
    <legend>Customer</legend>
    <div class="field">
      <%= f.label :customer_first_name, "First Name" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.text_field :customer_first_name %>
      <% else %>
        <%= @trip_ticket.customer_first_name %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_middle_name, "Middle Name" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.text_field :customer_middle_name %>
      <% else %>
        <%= @trip_ticket.customer_middle_name %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_last_name, "Last Name" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.text_field :customer_last_name %>
      <% else %>
        <%= @trip_ticket.customer_last_name %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_dob, "Date of Birth" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.date_select(:customer_dob,
                          :order => [:month, :day, :year],
                          :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' },
                          :start_year => Time.now.year - 100,
                          :end_year => Time.now.year
        ) %>
      <% else %>
        <%= @trip_ticket.customer_dob %>
      <% end %>
    </div>
    <% if can? :edit, @trip_ticket %>
      <%= f.fields_for :customer_address do |af| %>
        <%= render 'locations/address_form', :f => af %>
      <% end %>
    <% else %>
      <%= render 'locations/show_fields', :location => @trip_ticket.customer_address %>
    <% end %>
    <div class="field">
      <%= f.label :customer_primary_phone, "Primary Phone Number" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.phone_field :customer_primary_phone %>
      <% else %>
        <%= @trip_ticket.customer_primary_phone %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_emergency_phone, "Emergency Phone Number" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.phone_field :customer_emergency_phone %>
      <% else %>
        <%= @trip_ticket.customer_emergency_phone %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_primary_language, "Primary Language" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.text_field :customer_primary_language %>
      <% else %>
        <%= @trip_ticket.customer_primary_language %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_race, "Race" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= select_tag "race_selection", options_for_select(TripTicket::RACE_CHOICES), :include_blank => true  %>
        <br /><%= f.text_field :customer_race, :placeholder => "Other Race" %>
      <% else %>
        <%= @trip_ticket.customer_ethnicity %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_ethnicity, "Ethnicity" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= select_tag "ethnicity_selection", options_for_select(TripTicket::ETHNICITY_CHOICES), :include_blank => true  %>
        <br /><%= f.text_field :customer_ethnicity, :placeholder => "Other ethnicity" %>
      <% else %>
        <%= @trip_ticket.customer_ethnicity %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_impairment_description, "Impairment Description" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.text_field :customer_impairment_description %>
      <% else %>
        <%= @trip_ticket.customer_impairment_description %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_information_withheld, "Information Withheld?" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.select :customer_information_withheld, [["Yes", true], ["No", false]], :include_blank => true %>
      <% else %>
        <%= @trip_ticket.customer_information_withheld %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_notes %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.text_area :customer_notes %>
      <% else %>
        <%= @trip_ticket.customer_notes %>
      <% end %>
    </div>
    <fieldset id="customer_identifiers" class="">
      <legend>Customer Identifiers</legend>
      <% if can? :edit, @trip_ticket %>
        <%= f.fields_for :customer_identifiers, @trip_ticket.customer_identifiers do |ci| %>
          <% # TODO - Refactor this line to use an array constant of fields to ignore. Also, see if this is a bug for Rails or the Hstore gem %>
          <% @trip_ticket.customer_identifiers.try(:except, *[:builder, :parent_builder, :namespace]).try(:each) do |k,v| %>
            <div class="field hstoreAttribute">
              <%= text_field_tag k, k, :class => 'hstoreAttributeName' %>
              <%= ci.text_field k, :value => v, :placeholder => "value for #{k}", :class => 'hstoreAttributeValue' %>
              <a href="#" class='removeHstoreAttribute'>X</a>
            </div>
          <% end %>
          
          <% 
            customer_identifier_fields = '<div class="field hstoreAttribute">' + 
                                         text_field_tag('', '', :name => '', :id => '', :placeholder => 'New Attribute name', :value => '', :class => "hstoreAttributeName") + ' ' +
                                         text_field_tag('', '', :name => '', :id => '', :placeholder => 'value', :value => '', :class => 'hstoreAttributeValue') + 
                                         '<a href="#" class="removeHstoreAttribute">X</a></div>'
          %>

          <%= raw(customer_identifier_fields) %>

          <a href="#" id="add_customer_identifier">Add Customer Identifier</a>

          <script type='text/javascript'>
            $(document).ready(function() {
              $('#customer_identifiers').delegate('.hstoreAttributeName', 'keyup', function(e){
                $nameEl  = $(this);
                name     = $.trim($nameEl.val()).toLowerCase();
                $valueEl = $($nameEl.siblings('.hstoreAttributeValue')[0]);
                $valueEl.attr('id',          'trip_ticket_customer_identifiers_' + name);
                $valueEl.attr('name',        'trip_ticket[customer_identifiers][' + name + ']');
                $valueEl.attr('placeholder', 'value for ' + name);
              });

              $('#customer_identifiers').delegate('.removeHstoreAttribute', 'click', function(event){
                event.preventDefault();
                $(this).closest('.hstoreAttribute').remove();
                blankify_customer_identifiers();
              });

              $('#add_customer_identifier').on('click', function(event){
                event.preventDefault();
                $(this).before('<%= j raw(customer_identifier_fields) %>');
                blankify_customer_identifiers();
              });

              function blankify_customer_identifiers() {
                $customer_identifiers = $('#customer_identifiers');
                hstoreAttributeCount = $customer_identifiers.find('.hstoreAttribute').size();
                if (hstoreAttributeCount == 0) {
                  $customer_identifiers.append('<input type="hidden" id="trip_ticket_customer_identifiers_blank" name="trip_ticket[customer_identifiers]" value="">');
                }
                else {
                  $('#trip_ticket_customer_identifiers_blank').remove();
                }
              }
            });
          </script>
        <% end %>
      <% else %>
        <ul>
          <% @trip_ticket.customer_identifiers.try(:each) do |k,v| %>
            <li><strong><%= k %></strong>: <%= v %></li>
          <% end %>
        </ul>
      <% end %>
    </fieldset>
    
    <% 
      field_indexes = {}
      TripTicket::ARRAY_FIELDS.each do |field_sym, legend| 
    %>
      <fieldset id="<%= field_sym.to_s %>" class="">
        <legend><%= legend.pluralize %></legend>
        <% if can? :edit, @trip_ticket %>
          <% field_indexes[field_sym] = 0 %>
          <% @trip_ticket.send(field_sym).try(:each_with_index) do |v,index| %>
            <div class="field pgStringArray">
              <%= text_field_tag "trip_ticket[#{field_sym.to_s}][]", v, :id => "trip_ticket_#{field_sym.to_s}_#{index.to_s}", :placeholder => 'New mobility impairment', :class => "pgStringArrayValue" %>
              <a href="#" class='removePgStringArray'>X</a>
            </div>
            <% field_indexes[field_sym] += 1 %>
          <% end %>
      
          <%
            field_html = '<div class="field pgStringArray">' + 
                         text_field_tag("trip_ticket[#{field_sym.to_s}][]", '', :id => "trip_ticket_#{field_sym.to_s}_?", :placeholder => "New #{legend}", :class => "pgStringArrayValue") + ' ' +
                         '<a href="#" class="removePgStringArray">X</a></div>'
          %>

          <%= raw(field_html.gsub('?', field_indexes[field_sym].to_s)) %>

          <a href="#" id="add_<%= field_sym.to_s %>">Add <%= legend %></a>

          <script type='text/javascript'>
            window.field_indexes_<%= field_sym.to_s %> = <%= field_indexes[field_sym] %>
            $(document).ready(function() {
              $('#<%= field_sym.to_s %>').delegate('.removePgStringArray', 'click', function(event){
                event.preventDefault();
                $(this).closest('.pgStringArray').remove();
                blankify_<%= field_sym.to_s %>();
              });

              $('#add_<%= field_sym.to_s %>').on('click', function(event){
                event.preventDefault();
                window.field_indexes_<%= field_sym.to_s %> += 1;
                $(this).before('<%= j raw(field_html) %>'.replace('?', window.field_indexes_<%= field_sym.to_s %>));
                blankify_<%= field_sym.to_s %>();
              });

              function blankify_<%= field_sym.to_s %>() {
                $<%= field_sym.to_s %> = $('#<%= field_sym.to_s %>');
                pgStringArrayCount = $<%= field_sym.to_s %>.find('.pgStringArray').size();
                if (pgStringArrayCount == 0) {
                  $<%= field_sym.to_s %>.append('<input type="hidden" id="trip_ticket_<%= field_sym.to_s %>_blank" name="trip_ticket[<%= field_sym.to_s %>][]" value="">');
                }
                else {
                  $('#trip_ticket_<%= field_sym.to_s %>_blank').remove();
                }
              }
            });
          </script>
        <% else %>
          <ul>
            <% @trip_ticket.send(field_sym).try(:each) do |v| %>
              <li><%= v %></li>
            <% end %>
          </ul>
        <% end %>
      </fieldset>
    <% end %>
  </fieldset>

  <fieldset id="drop_off_location" class="">
    <legend>Drop Off Location</legend>
    <% if can? :edit, @trip_ticket %>
      <%= f.fields_for :drop_off_location do |af| %>
        <%= render 'locations/address_form', :f => af %>
      <% end %>
    <% else %>
      <%= render 'locations/show_fields', :location => @trip_ticket.drop_off_location %>
    <% end %>
  </fieldset>

  <fieldset id="pick_up_location" class="">
    <legend>Pick Up Location</legend>
    <% if can? :edit, @trip_ticket %>
      <%= f.fields_for :pick_up_location do |af| %>
        <%= render 'locations/address_form', :f => af %>
      <% end %>
    <% else %>
      <%= render 'locations/show_fields', :location => @trip_ticket.pick_up_location %>
    <% end %>
  </fieldset>

  <fieldset id="trip_information" class="">
    <legend>Trip Information</legend>

    <div class="field">
      <%= f.label :appointment_time %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.datetime_select :appointment_time, :ampm => true, :minute_step => 15, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.appointment_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :requested_pickup_time %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.time_select :requested_pickup_time, :ampm => true, :minute_step => 15, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.requested_pickup_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :requested_drop_off_time %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.time_select :requested_drop_off_time, :ampm => true, :minute_step => 15, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.requested_drop_off_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :earliest_pick_up_time %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.datetime_select :earliest_pick_up_time, :ampm => true, :minute_step => 15, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.earliest_pick_up_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :allowed_time_variance %> (in minutes):
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.select :allowed_time_variance, [["Any", -1]] + (1..60).to_a.select{ |i| i % 10 == 0 }, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.allowed_time_variance %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_boarding_time, "Boarding time required" %> (in minutes):
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.number_field :customer_boarding_time, :min => 0, :max => 15 %>
      <% else %>
        <%= @trip_ticket.customer_boarding_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_deboarding_time, "Deboarding time required" %> (in minutes):
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.number_field :customer_deboarding_time, :min => 0, :max => 15 %>
      <% else %>
        <%= @trip_ticket.customer_deboarding_time %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :customer_seats_required, "Seats Required" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.number_field :customer_seats_required, :min => 0 %>
      <% else %>
        <%= @trip_ticket.customer_seats_required %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :num_attendants, "Number of Attendants" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.number_field :num_attendants, :min => 0 %>
      <% else %>
        <%= @trip_ticket.num_attendants %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :num_guests, "Number of Guests" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.number_field :num_guests, :min => 0 %>
      <% else %>
        <%= @trip_ticket.num_guests %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :scheduling_priority %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.select :scheduling_priority, TripTicket::SCHEDULING_PRIORITY.invert, :include_blank => true %>
      <% else %>
        <%= @trip_ticket.scheduling_priority %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :trip_purpose_description, "Trip Purpose" %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.text_field :trip_purpose_description %>
      <% else %>
        <%= @trip_ticket.trip_purpose_description %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :trip_notes %>:
      <% if can? :edit, @trip_ticket %>
        <br /><%= f.text_area :trip_notes %>
      <% else %>
        <%= @trip_ticket.trip_notes %>
      <% end %>
    </div>
  </fieldset>

  <fieldset id="info" class="">
    <legend>Info</legend>

    <div class="field">
      <%= f.label :created_at %>:
      <%= @trip_ticket.created_at %>
    </div>
    <div class="field">
      <%= f.label :updated_at %>:
      <%= @trip_ticket.updated_at %>
    </div>
  </fieldset>

  <% if can? :edit, @trip_ticket %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
