<header>
  <h2>Comments</h2>
</header>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Body</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% trip_ticket_comments.try(:each) do |trip_ticket_comment| %>
      <tr>
        <td align="left" valign="top" nowrap width="15%"><%= trip_ticket_comment.created_at.to_s(:long) %></td>
        <td align="left" valign="top" width="60%"><%= trip_ticket_comment.body %></td>
        <td align="left" valign="top" nowrap width="15%"><%= trip_ticket_comment.user.display_name %></td>
        <td align="left" valign="top" nowrap width="5%"><% if can?(:edit, trip_ticket_comment) %><%= link_to 'Edit', edit_trip_ticket_trip_ticket_comment_path(@trip_ticket, trip_ticket_comment) %><% end %></td>
        <td align="left" valign="top" nowrap width="5%"><% if can?(:destroy, trip_ticket_comment) %><%= link_to 'Destroy', trip_ticket_trip_ticket_comment_path(@trip_ticket, trip_ticket_comment), method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
