<header>
  <h2>Claims</h2>
</header>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>Pickup Time</th>
      <th>Fare</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>      
    <% trip_claims.try(:each) do |trip_claim| %>
      <tr>
        <td><%= trip_claim.status.blank? ? "" : TripClaim::STATUS.invert[trip_claim.status].to_s.humanize.titlecase %></td>
        <td><%= trip_claim.proposed_pickup_time.blank? ? "" : trip_claim.proposed_pickup_time.to_s(:long) %></td>
        <td><%= trip_claim.proposed_fare %></td>
        <td><%= link_to 'Details', trip_ticket_trip_claim_path(trip_claim.trip_ticket, trip_claim) %></td>
        <td><% if can?(:approve, trip_claim) && trip_claim.editable? %><%= link_to 'Approve', approve_trip_ticket_trip_claim_path(trip_claim.trip_ticket, trip_claim), method: :post, data: { confirm: 'Are you sure you want to APPROVE this claim?' } %><% end %></td>
        <td><% if can?(:decline, trip_claim) && trip_claim.editable? %><%= link_to 'Decline', decline_trip_ticket_trip_claim_path(trip_claim.trip_ticket, trip_claim), method: :post, data: { confirm: 'Are you sure you want to DECLINE this claim?' } %><% end %></td>
        <td><% if can?(:edit, trip_claim) && trip_claim.editable? %><%= link_to 'Edit', edit_trip_ticket_trip_claim_path(trip_claim.trip_ticket, trip_claim) %><% end %></td>
        <td><% if can?(:rescind, trip_claim) && trip_claim.editable? %><%= link_to 'Rescind', rescind_trip_ticket_trip_claim_path(trip_claim.trip_ticket, trip_claim), method: :post, data: { confirm: 'Are you sure you want to RESCIND this claim?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<nav>
  <% if can?(:create, @trip_ticket.trip_claims.build(:claimant_provider_id => current_user.provider.try(:id))) && @trip_ticket.claimable_by?(current_user) %>
    <%= link_to new_trip_ticket_trip_claim_path(@trip_ticket), :class => "button" do %>
      <span>Submit Claim</span>
    <% end %>
  <% end %>    
</nav>
