<header>
  <h2>Trip Tickets</h2>
</header>

<div class="actions-list-holder">
  <ul class="actions-list">
    <% if can? :create, TripTicket %>
      <li class="action-new <% if !can?(:create, BulkOperation) %>last<% end %>"><%= link_to new_trip_ticket_path, class: "no-clickify" do %><span>Add New</span><% end %></li>
    <% end %>
    <% if can?(:create, BulkOperation) %>
      <li><%= link_to new_bulk_operation_path(operation_type: :upload) do %><span>Upload</span><% end %></li>
      <li class="last"><%= link_to new_bulk_operation_path(operation_type: :download) do %><span>Download</span><% end %></li>
    <% end %>
  </ul>
</div>

<div id="standard_ticket_list">
  <%= render 'standard_ticket_list' %>
</div>

<%= render 'trip_tickets/ajaxified_dashboard/dashboard' %>

<% content_for :sidebar do %>
  <%= render 'sidebar_filter_form' %>
<% end %>
