<%= content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.tickets-list li').each(function() {
        $(this).find('a').css('text-decoration', 'none');
        $(this).css('cursor', 'pointer').click(function(){
          $(this).siblings('.check').removeClass('check');
          $(this).addClass('check');
          $(this).find('a')[0].click();
        });
      });
    });
  </script>
<% end %>

<header>
  <h2>Trip Tickets</h2>
</header>

<div class="actions-list-holder">
  <ul class="actions-list">
    <!--li><a href="#"><span>Claim Selected</span></a></li-->
    <% if can? :create, TripTicket %>
      <li>
        <%= link_to new_trip_ticket_path do %>
          <span>Add New</span>
        <% end %>
      </li>
    <% end %>
    <!--li><a href="#"><span>Upload</span></a></li-->
    <li class="last"><a href="#"><span>&nbsp;<!--Download--></span></a></li>
  </ul>
</div>

<div class="tickets-holder">
  <div class="scrollable-area">
    <ul class="tickets-list">
      <% @trip_tickets.each_with_index do |tt,index| %>
        <li class="<%= (index == 0) ? "check" : "" %>">
          <div class="description">
            <div class="column">
              <%= link_to tt, :remote => true do %>
                <strong class="title"><%= tt.customer_full_name %> <span class="count"><%= tt.seats_required %></span> <!--img src="/assets/icon01.png" width="16" height="14" alt="" /--></strong>
              <% end %>
              <address><%= tt.pick_up_location.address_and_city(', ') %></address>
            </div>
            <div class="column">
              <em class="date"><%= tt.appointment_time.strftime "%I:%M %p" %><span><%= tt.appointment_time.strftime "%b %d" %></span> <%= load_unload_time_warning(tt.customer_boarding_time, tt.customer_deboarding_time) %></em>
              <address><%= tt.drop_off_location.address_and_city(', ') %></address>
            </div>
          </div>
          <ul class="icons-list">
            <li><!--img src="/assets/icon03.png" width="13" height="18" alt="" /--></li>
            <li><!--img src="/assets/icon04.png" width="7" height="23" alt="" /--></li>
            <li><!--img src="/assets/icon05.png" width="16" height="14" alt="" /--></li>
          </ul>
          <span class=""></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="content-holder">
  <div class="scrollable-area">
    <div class="content-frame">
      <% unless @trip_tickets.empty? %>
        <%= render 'unified_trip_ticket_view', :trip_ticket => @trip_tickets.first %>
      <% end %>
    </div>
  </div>
</div>

<div class="padded" style="display:none">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Originator</th>
        <th>Status</th>
        <th>Customer</th>
        <th>Mobility Impairments</th>
        <th>Deboarding time</th>
        <th>Pick up loc.</th>
        <th>Drop off loc.</th>
        <th>Appointment</th>
        <th>Attendants</th>
        <th>Guests</th>
        <th>Assistive devices</th>
        <th>Service animals</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @trip_tickets.each do |trip_ticket| %>
        <tr>
          <td><%= trip_ticket.originator.name %></td>
          <td>TODO</td>
          <td><%= trip_ticket.customer_full_name %></td>
          <td><%= trip_ticket.customer_mobility_impairments.try(:join, ', ') %></td>
          <td><%= trip_ticket.customer_deboarding_time.to_i %></td>
          <td><%= formatted_address_and_city trip_ticket.pick_up_location %></td>
          <td><%= formatted_address_and_city trip_ticket.drop_off_location %></td>
          <td><%= display_appointment_time trip_ticket %></td>
          <td><%= trip_ticket.num_attendants.to_i %></td>
          <td><%= trip_ticket.num_guests.to_i %></td>
          <td>TODO</td>
          <td>TODO</td>
          <td><%= link_to 'Show', trip_ticket %></td>
          <td><% if can?(:edit, trip_ticket) && !trip_ticket.approved? %><%= link_to 'Edit', edit_trip_ticket_path(trip_ticket) %><% end %></td>
          <td><% if can?(:destroy, trip_ticket) && !trip_ticket.approved? %><%= link_to 'Destroy', trip_ticket, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
          <td>
            <% if can?(:create, trip_ticket.trip_claims.build(:claimant_provider_id => current_user.provider.try(:id))) && trip_ticket.claimable_by?(current_user) %>
              <%= link_to 'Claim', new_trip_ticket_trip_claim_path(trip_ticket) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :sidebar do %>
  <%= render 'sidebar_filter_form' %>
<% end %>
