<div class="padded">
  <header>
    <h2>Trip Ticket</h2>
  </header>

  <section class="form-holder">
    <%= render 'form' %>
  </section>

  <section id="trip_claims">
    <%= render 'trip_claims', :trip_claims => @trip_ticket.trip_claims.accessible_by(current_ability) %>
    <nav>
      <% if can?(:create, @trip_ticket.trip_claims.build(:claimant_provider_id => current_user.provider.try(:id))) && @trip_ticket.claimable_by?(current_user) %>
        <%= link_to new_trip_ticket_trip_claim_path(@trip_ticket), :class => "button" do %>
          <span>Submit Claim</span>
        <% end %>
      <% end %>
    </nav>
  </section>

  <section id="trip_ticket_results">
    <header>
      <h2>Trip Results</h2>
    </header>
    <fieldset id="trip_result" class="">
      <% if can?(:update, @result) && @trip_ticket.can_create_or_edit_result? %>
        <%= form_for(@result, url: trip_ticket_trip_result_path(@trip_ticket)) do |form| %>
          <%= form.fields_for :trip_result do |rf| %>
            <%= render 'trip_results/form', :f => form %>
            <div class="buttons-holder">
              <%= form.submit "Update Trip Result", :class => "button" %>
            </div>
          <% end %>
        <% end %>
      <% elsif @result %>
        <%= render 'trip_results/show_fields', :result => @result %>
      <% else %>
        No results available yet.
      <% end %>
    </fieldset>
  
    <% if @trip_ticket.trip_result %>
      <%= render 'shared/audit_trail', :audits => @result.audits %>
    <% end %>
  </section>

  <section id="trip_ticket_comments">
    <%= render 'trip_ticket_comments', :trip_ticket_comments => @trip_ticket.trip_ticket_comments.accessible_by(current_ability) %>
    <nav>
      <% if can?(:create, @trip_ticket.trip_ticket_comments.build) %>
        <%= link_to new_trip_ticket_trip_ticket_comment_path(@trip_ticket), :class => "button" do %>
          <span>Add Comment</span>
        <% end %>
      <% end %>    
    </nav>
  </section>

  <section id="audit_trail">
    <%= render 'shared/audit_trail', :audits => @trip_ticket.audits_with_associated %>
  </section>
</div>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to 'All Tickets', trip_tickets_path %></li>
    <li><a href="#trip_claims">Jump to Claims</a></li>
    <li><a href="#trip_ticket_results">Jump to Results</a></li>
    <li><a href="#trip_ticket_comments">Jump to Comments</a></li>
    <li><a href="#audit_trail">Jump to Change History</a></li>
  </ul>
<% end %>
