<div class="heading">
  <h2>
    <%= link_to trip_ticket, class: 'no-clickify' do %>
      <%= trip_ticket.customer_full_name %>
    <% end %>
    <span class="count"><%= trip_ticket.seats_required %></span>
    <!--img src="/assets/icon01.png" width="16" height="14" alt="" /-->
    <% trip_status = trip_ticket.status_for(current_user) %>
    <span class="trip-status <%= underscore_status(trip_status) %>"><%= trip_status %></span>
  </h2>
  
  <ul class="actions-list">
    <% if can?(:edit, @trip_ticket) %>
      <li><%= link_to edit_trip_ticket_path(trip_ticket), :class => "activity-edit no-clickify" do %><span>Edit</span><% end %></li>
    <% else %>
      <li><%= link_to trip_ticket, class: 'activity-view no-clickify' do %><span>View</span><% end %></li>
    <% end %>
    <% if can?(:create, trip_ticket.trip_claims.build(:claimant_provider_id => current_user.provider.try(:id))) && trip_ticket.claimable_by?(current_user) %>
      <li><%= link_to new_trip_ticket_trip_claim_path(trip_ticket), :class => "activity-claim no-clickify" do %><span>Claim</span><% end %></li>
    <% end %>
    <% if !trip_ticket.rescinded? && can?(:rescind, trip_ticket) && trip_ticket.rescindable? %>
      <li><%= link_to rescind_trip_ticket_path(trip_ticket.id), method: :post, data: { confirm: 'Are you sure you want to RESCIND this trip ticket?' }, :class => "activity-rescind no-clickify" do %><span>Rescind</span><% end %></li>
    <% end %>
    <li class="last"><%= link_to new_trip_ticket_trip_ticket_comment_path(trip_ticket), class: 'activity-comment no-clickify' do %><span>Comment</span><% end %></li>
  </ul>
</div>
<div class="twocolumns">
  <div class="add-info">
    <h3><%= trip_ticket.originator.name %></h3>
    <div class="description">
      <div class="column">
        <p><%= trip_ticket.customer_primary_phone %></p>
        <% unless trip_ticket.customer_emergency_phone.blank? %>
          <p><%= trip_ticket.customer_emergency_phone %></p>
        <% end %>
      </div>
      <div class="column info">
        <% unless trip_ticket.customer_primary_language.blank? %>
          <p>Language: <%= trip_ticket.customer_primary_language %></p>
        <% end %>
        <% unless trip_ticket.customer_boarding_time.blank? %>
          <p>Board: <%= trip_ticket.customer_boarding_time %>m <%= load_time_warning(trip_ticket.customer_boarding_time) %></p>
        <% end %>
        <% unless trip_ticket.customer_deboarding_time.blank? %>
          <p>De-board: <%= trip_ticket.customer_deboarding_time %>m <%= unload_time_warning(trip_ticket.customer_deboarding_time) %></p>
        <% end %>
      </div>
    </div>
    <ul class="icons-list">
      <% trip_ticket.icon_list.each do |icon| %>
      <li><%= image_tag icon[:file], :alt => icon[:alt] %></li>
      <% end %>
    </ul>
    <div class="image-holder" style="width: 275px; height: 201px">
      <div id="map-canvas" style="width: 100%; height: 100%"></div>
      <%= javascript_tag do %>
        var myMap;
        $(document).ready(function(){
          myMap = new TripTicketsMap;
          myMap.init(
            {address: '<%= j trip_ticket.pick_up_location.try(:address_city_state_and_zip, ', ') %>'}, 
            {address: '<%= j trip_ticket.drop_off_location.try(:address_city_state_and_zip, ', ') %>'}
          );
        });
      <% end %>
      <%#= image_tag 'img01.png', width: 275, height: 201, alt: 'new' %>
    </div>
    <ul class="dates-list">
      <% unless trip_ticket.requested_pickup_time.blank? %>
        <li class="active"><span><%= trip_ticket.requested_pickup_time.strftime "%I:%M %p" %></span><span> <%= trip_ticket.appointment_time.strftime "%b %d" %></span><span class="note"> <strong>PU</strong><%= formatted_allowed_time_variance(trip_ticket.allowed_time_variance) %></span></li>
      <% end %>
      <% unless trip_ticket.requested_drop_off_time.blank? %>
        <li><span><%= trip_ticket.requested_drop_off_time.strftime "%I:%M %p" %></span><span> <%= trip_ticket.appointment_time.strftime "%b %d" %></span><span class="note"> <strong>DO</strong><%= formatted_allowed_time_variance(trip_ticket.allowed_time_variance) %></span></li>
      <% end %>
      <% unless trip_ticket.earliest_pick_up_time.blank? %>
        <li><span><%= trip_ticket.earliest_pick_up_time.strftime "%I:%M %p" %></span><span> <%= trip_ticket.appointment_time.strftime "%b %d" %></span><span class="note"> <strong>Earliest PU</strong></span></li>
      <% end %>
      <li><span><%= trip_ticket.appointment_time.strftime "%I:%M %p" %></span><span> <%= trip_ticket.appointment_time.strftime "%b %d" %></span><span class="note"> <strong>Appt</strong></span></li>
    </ul>
    <address><%= trip_ticket.pick_up_location.try(:address_city_and_zip, ', ') %></address>
    <address><%= trip_ticket.drop_off_location.try(:address_city_and_zip, ', ') %></address>
    <div class="gps-data">
      GPS Coordinates
      <% if trip_ticket.pick_up_location.try(:position).present? && trip_ticket.drop_off_location.try(:position).present? %>
      <table>
        <tr><td>Pick Up</td><td><%= trip_ticket.pick_up_location.try(:latitude) %>, <%= trip_ticket.pick_up_location.try(:longitude) %></td></tr>
        <tr><td>Drop Off</td><td><%= trip_ticket.drop_off_location.try(:latitude) %>, <%= trip_ticket.drop_off_location.try(:longitude) %></td></tr>
      </table>
      <% end %>
    </div>
    <% unless trip_ticket.trip_purpose_description.blank? %>
      <p>Purpose: <%= trip_ticket.trip_purpose_description %></p>
    <% end %>
    <% unless trip_ticket.trip_notes.blank? %>
      <p><%= trip_ticket.trip_notes %></p>
    <% end %>
  </div>
  <div class="description">
    <% unless trip_ticket.customer_impairment_description.blank? %>
      <p><%= trip_ticket.customer_impairment_description %></p>
    <% end %>
    <div class="details-box">
      <a class="opener" href="#">Customer Details</a>
      <div class="slide">
        <dl>
          <dt>Address:</dt>
          <dd><%= formatted_address_city_and_zip trip_ticket.customer_address %></dd>
        
          <% unless trip_ticket.customer_eligibility_factors.blank? %>
            <dt>Eligibility:</dt>
            <dd><%= formatted_customer_identifiers trip_ticket.customer_eligibility_factors %></dd>
          <% end %>
        
          <% trip_ticket.customer_identifiers.try(:each) do |k,v| %>
            <dt><%= k %></dt>
            <dd><%= v %></dd>
          <% end %>
        
          <% unless trip_ticket.customer_race.blank? && trip_ticket.customer_ethnicity.blank? %>
            <dt>Ethnicity:</dt>
            <dd><%= trip_ticket.ethnicity_and_race %></dd>
          <% end %>
        
          <dt>Age:</dt>
          <dd><%= customer_age trip_ticket.customer_dob %></dd>
        
          <dt>DOB:</dt>
          <dd><%= trip_ticket.customer_dob.strftime("%m/%d/%Y") %></dd>
        </dl>
      </div>
    </div>
    <div class="details-box active">
      <a class="opener" href="#">Trip Details</a>
      <div class="slide">
        <dl>
          <% unless trip_ticket.trip_funders.blank? %>
            <dt>Funders:</dt>
            <dd><%= formatted_customer_identifiers trip_ticket.trip_funders %></dd>
          <% end %>
          <% unless trip_ticket.provider_white_list.blank? %>
            <dt>Whitelist:</dt>
            <dd><%= providers_from_white_black_list trip_ticket.provider_white_list %></dd>
          <% end %>
          <% unless trip_ticket.provider_black_list.blank? %>
            <dt>Blacklist:</dt>
            <dd><%= providers_from_white_black_list trip_ticket.provider_black_list %></dd>
          <% end %>
        </dl>
      </div>
    </div>
    <div>
      <div class="heading">
        <h2>Activity</h2>
      </div>
      <ul class="activity-list">
        <% trip_ticket.activities_accessible_by(current_ability).each do |activity| %>
          <%= render 'trip_tickets/ajaxified_dashboard/trip_ticket_activity', :activity => activity %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="trip-ticket-comment-form form-holder" style="display: none">
  <%= form_for [trip_ticket, TripTicketComment.new], html: { class: 'form-comment' } do |f| %>
    <fieldset>
      <%= f.text_area :body, cols: 35, rows: 8 %>
    </fieldset>
  <% end %>
</div>