<div id="dashboard">
  <div id="dashboard-column-1" class="dashboard-column">
    <div id="summary">
      <% if current_user.provider.nil? %>
        <h2>Home</h2>
      <% else %>
        <h2><%= link_to current_user.provider.name,
                        provider_path(current_user.provider) %></h2>
      <% end %>
      This is a summary section.
    </div>
    <div id="filters">
      <div id="filter-nav">
        <h3>Filter...</h3>
        <%= link_to 'add new filter...' %>
      </div>
      <%= select_tag 'Filter',
            '<option>Filter 1</option><option>Filter 2</option>'.html_safe %>
    </div>
    <div id="activity">
      <h3>Recent Activity</h3>
      This is a recent activity list.
    </div>
  </div>
  <div id="dashboard-column-2" class="dashboard-column">
    <%= link_to 'Ticket 1' %><br/><br/>
    <%= link_to 'Ticket 2' %><br/><br/>
    <%= link_to 'Ticket 3' %><br/><br/>
    <%= link_to 'Ticket 4' %><br/><br/>
  </div>
  <div id="dashboard-column-3" class="dashboard-column">
    <h3>Detailed item view</h3>
    <div id="trip-ticket-map">Map view</div>

    <h4>Requestor</h4>
    Time and Date<br/>
    Start address<br/>
    Destination address<br/>
    Estimated trip time<br/>

    <h4>Customer Requirements</h4>
    Seats Required<br/>
    Assistive devices<br/>
    Service animals<br/>
  </div>
</div>
