<h1>Editing <%= @provider_relationship.name %></h1>

<%= render 'form' %>

<%= link_to 'Show', @provider_relationship %> |
<% if @current_user.provider.present? %>
  <%= link_to 'Back', @current_user.provider %>
<% else %>
  <%= link_to 'Back', providers_path %>
<% end %>