<header>
  <h2>Edit <%= @provider_relationship.name %></h2>
</header>

<section class="form-holder">
  <%= render 'form' %>
</section>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to 'View Relationship', @provider_relationship %></li>    
    <% if @current_user.provider.present? %>
      <li><%= link_to 'Provider', @current_user.provider %></li>
    <% else %>
      <li><%= link_to 'All Providers', providers_path %></li>
    <% end %>
  </ul>
<% end %>
