<h1>Listing provider_relationships</h1>

<table>
  <tr>
    <th>Requesting provider</th>
    <th>Cooperating provider</th>
    <th>Approved at</th>
    <th>Automatic requester approval</th>
    <th>Automatic cooperator approval</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @provider_relationships.each do |provider_relationship| %>
  <tr>
    <td><%= provider_relationship.requesting_provider.name %></td>
    <td><%= provider_relationship.cooperating_provider.name %></td>
    <td><%= provider_relationship.approved_at %></td>
    <td><%= provider_relationship.automatic_requester_approval %></td>
    <td><%= provider_relationship.automatic_cooperator_approval %></td>
    <td><%= link_to 'Show', provider_relationship %></td>
    <td><% if can? :edit, provider_relationship %><%= link_to 'Edit', edit_provider_relationship_path(provider_relationship) %><% end %></td>
    <td><% if can? :destroy, provider_relationship %><%= link_to 'Destroy', provider_relationship, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Provider relationship', new_provider_relationship_path %>
