<div class="padded">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Requesting provider:</b>
    <%= @provider_relationship.requesting_provider.name %>
  </p>

  <p>
    <b>Cooperating provider:</b>
    <%= @provider_relationship.cooperating_provider.name %>
  </p>

  <p>
    <b>Approved at:</b>
    <%= @provider_relationship.approved_at %>
  </p>

  <p>
    <b>Automatic requester approval:</b>
    <%= @provider_relationship.automatic_requester_approval %>
  </p>

  <p>
    <b>Automatic cooperator approval:</b>
    <%= @provider_relationship.automatic_cooperator_approval %>
  </p>
</div>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <% if can? :edit, @provider_relationship %><li><%= link_to 'Edit Relationship', edit_provider_relationship_path(@provider_relationship) %></li><% end %>
    <% if @current_user.provider.present? %>
      <li><%= link_to 'Provider', @current_user.provider %></li>
    <% else %>
      <li><%= link_to 'All Providers', providers_path %></li>
    <% end %>
  </ul>
<% end %>
