<div class="padded">
  <header>
    <h2>Bulk Operation</h2>
  </header>

  <div class="field">
    <h3>Type</h3>
    <%= @bulk_operation.is_upload? ? 'Upload' : 'Download' %>
  </div>

  <div class="field">
    <h3>Time</h3>
    <%= @bulk_operation.created_at %>
  </div>

  <div class="field">
    <h3>File Name</h3>
    <%= @bulk_operation.file_name %>
  </div>

  <div class="field">
    <h3>Row Count</h3>
    <%= @bulk_operation.row_count || 'none' %>
  </div>

<% if @bulk_operation.is_upload? %>
  <div class="field">
    <h3>Error Count</h3>
    <%= @bulk_operation.error_count || 'none' %>
  </div>

  <% if @bulk_operation.bad_row_numbers.present? %>
  <div class="field">
    <h3>The following row numbers contained errors:</h3>
    <%= @bulk_operation.bad_row_numbers.join(', ') %>
  </div>
  <% end %>
<% else %>
  <div class="field">
    <h3>Most Recent Trip Ticket Update Time</h3>
    <%= @bulk_operation.last_import_time %>
  </div>
<% end %>

<% if !@bulk_operation.is_upload? && can?(:download, @bulk_operation) %>
  <%= button_to 'Re-download', download_bulk_operation_path(@bulk_operation), method: :get %>
<% end %>
</div>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to 'All Bulk Operations', bulk_operations_path %></li>
  </ul>
<% end %>

<% if params[:download] == 'true' %>
<script type="text/javascript">
  $(function() {
    window.location = "<%= download_bulk_operation_path(@bulk_operation) %>";
  });
</script>
<% end %>