<%= form_for(@form_path) do |f| %>
  <% if @eligibility_requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eligibility_requirement.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @eligibility_requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :boolean_type, 'Comparison Type' %>
    <%= f.select :boolean_type, EligibilityRequirement::BOOLEAN_TYPES.invert %>
  </div>

  <fieldset>
    <legend>Eligibility Requirements</legend>
    <table id="eligibility-requirements-list" cellpadding="2" style="margin:8px 0">
      <thead>
        <tr>
          <th>Trip Ticket Field</th>
          <th>Comparison</th>
          <th>Value</th>
          <th>Delete?</th>
        </tr>
      </thead>
      <tbody>
        <% @eligibility_requirement.eligibility_rules.build %>
        <%= f.fields_for :eligibility_rules do |er_fields| %>
        <tr>
          <td><%= er_fields.select :trip_field, EligibilityRule::TRIP_TICKET_FIELDS.invert %></td>
          <td><%= er_fields.select :comparison_type, EligibilityRule::COMPARISON_TYPES.invert %></td>
          <td><%= er_fields.text_field :comparison_value %></td>
          <td style="text-align:center"><%= er_fields.check_box :_destroy, style: "float:none;width:auto;margin:0" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Add Row', nil, id: 'eligibility-requirements-list-add' %>
  </fieldset>

  <div class="buttons-holder">
    <%= link_to :back, :class => "button button-cancel" do %>
      <span>Cancel</span>
    <% end %>
    <%= f.submit :id => "eligibility-requirements-list-submit", :class => "button" %>
  </div>
<% end %>
