<div class="padded">
  <header>
    <h2><%= report_name %></h2>
  </header>

  <%= report_table(@report) do |r| %>
    <%= report_header(r) %>
    <%= report_body(r) %>
  <% end %>

  <%= report_summary(@report) %>
</div>
