  <div class="field">
    <%= f.label :address_1 %><br/>
    <%= f.text_field :address_1 %>
  </div>
  <div class="field">
    <%= f.label :address_2 %><br/>
    <%= f.text_field :address_2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br/>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br/>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br/>
    <%= f.text_field :zip %>
  </div>
