<div class="field">
  <%= f.label :address_1, "Address Line 1", class: (required_fields ? "required" : "") %>
  <%= f.text_field :address_1 %>
</div>
<div class="field">
  <%= f.label :address_2, "Address Line 2" %>
  <%= f.text_field :address_2 %>
</div>
<div class="field">
  <%= f.label :city, class: (required_fields ? "required" : "") %>
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.label :state, class: (required_fields ? "required" : "") %>
  <%= f.text_field :state %>
</div>
<div class="field">
  <%= f.label :zip, "Postal Code", class: (required_fields ? "required" : "") %>
  <%= f.text_field :zip %>
</div>
<% if current_user and current_user.has_any_role?([:site_admin]) %>
<div class="field">
  <%= f.label :position, "Coordinates (lon lat)" %>
  <% %>
  <%= f.text_field :position, :placeholder => "e.g.: POINT (-122.6488 45.5282)" %>
</div>
<% end %>