<div class="field">
  <label>Address Line 1:</label>
  <%= location.address_1 %>
</div>
<div class="field">
  <label>Address Line 2:</label>
  <%= location.address_2 %>
</div>
<div class="field">
  <label>City:</label>
  <%= location.city %>
</div>
<div class="field">
  <label>State:</label>
  <%= location.state %>
</div>
<div class="field">
  <label>Postal Code:</label>
  <%= location.zip %>
</div>
