<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Clearinghouse</title>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=1280" />
	<meta name="MobileOptimized" content="1280" />
  <%= favicon_link_tag %>  
  <!--[if lt IE 9]><%= javascript_include_tag 'https://html5shiv.googlecode.com/svn/trunk/html5.js' %><![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
</head>
<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
<header id="main-header">
	<section class="top-section">
		<nav class="holder">
      <% if current_user %>
        <%= link_to current_user.display_name, edit_user_path(current_user), :class => "nickname" %>
        <a href="#" class="messages-count">3</a>
        <a href="#" class="btn-settings">Settings</a>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "btn-logout" %>
      <% end %>
		</nav>
	</section>
	<nav class="nav-holder">
		<h1 class="logo"><%= link_to "Ride Connection", root_path %></h1>
		<ul id="nav">
			<li class="active"><%= link_to 'Dashboard', root_path %></li>
			<li><%= link_to 'Tickets', trip_tickets_path %></li>
			<li><%= link_to 'Open Capacities', open_capacities_path %></li>
      <li><%= link_to 'Reports', reports_path %></li>
      <% if current_user and current_user.has_admin_role? %>
			  <li><a href="#">Activities</a></li>
        <li class="last"><%= link_to 'Admin', admin_path %></li>
      <% else %>
			  <li class="last"><a href="#">Activities</a></li>
      <% end %>
		</ul>
	</nav>
</header>
<section id="main">
	<section id="content">
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="error"><%= alert %></p><% end %>
    <%= yield %>
	</section>
	<section id="sidebar">
    <%= yield :sidebar %>
	</section>
</section>
<footer>
  <p>
    &copy; <script type="text/javascript">
      var theDate = new Date();
      document.write(theDate.getFullYear());
    </script> | <%= link_to 'Ride Connection', 'http://www.rideconnection.org/' %>
  </p>
</footer>
</body>
</html>
