<!DOCTYPE html>
<html>
<head>
  <title>Clearinghouse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
<div id="wrapper">
  <div id="header">
    <div id="main-nav">
      <ul id="nav">
        <li><%= link_to 'Dashboard', root_path %></li>
        <li><%= link_to 'Trip Claims', trip_claims_path %></li>
        <li><%= link_to 'Trip Tickets', trip_tickets_path %></li>
        <li><%= link_to 'Open Capacity', open_capacities_path %></li>
        <li><%= link_to 'Reports', reports_path %></li>
        <% if current_user and current_user.has_role? :site_admin %>
          <li><%= link_to 'Admin', admin_path %></li>
        <% end %>
      </ul>
      <% if current_user %>
        <div id="account">
          Hello,
          <%= link_to current_user.display_name, edit_user_path(current_user) %>
          <%= link_to '(Logout)', destroy_user_session_path, {:method=>:delete} %>
        </div>
        <%= form_tag search_trip_tickets_path, :id=>'search-form' do %>
          <%= search_field_tag :q, nil, :placeholder=>'Search' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
  <div id="footer">
    Copyright &copy;<%= Time.now.year %>
    <%= link_to 'Ride Connection', 'http://www.rideconnection.org/' %>
  </div>
</div>
</body>
</html>
