<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Clearinghouse</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=1280" />
  <meta name="MobileOptimized" content="1280" />
  <%= favicon_link_tag %>  
  <!--[if lt IE 9]><%= javascript_include_tag 'https://html5shiv.googlecode.com/svn/trunk/html5.js' %><![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "https://maps-api-ssl.google.com/maps/api/js?v=3.12&sensor=false" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
</head>
<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
<div id="session-timeout-warning" style="display: none;">
  You will be logged off in <span><!-- countdown place holder --></span>&nbsp;seconds due to inactivity.
  <a id="session-resume" href="#">Click here to stay logged in.</a>
</div>
<header id="header">
  <section class="top-section">
    <nav class="holder">
      <% if current_user %>
        <%= link_to current_user.display_name, edit_user_path(current_user), :class => "nickname" %>
        <a href="#" class="messages-count">0</a>
        <a href="#" class="btn-settings">Settings</a>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "btn-logout" %>
      <% end %>
    </nav>
  </section>
  <nav class="nav-holder">
    <h1 class="logo"><%= link_to "Ride Connection", root_path %></h1>
    <ul id="nav">
      <%= main_nav_helper 'Tickets', trip_tickets_path %>
      <%= main_nav_helper 'Open Capacities', open_capacities_path %>
      <% show_bulk = current_user and !current_user.has_read_only_role? %>
      <% show_admin = current_user and current_user.has_any_role?([:site_admin, :provider_admin]) %>
      <%= main_nav_helper 'Reports', reports_path, show_bulk || show_admin ? nil : 'last' %>
      <% if show_bulk %>
        <%= main_nav_helper 'Bulk Operations', bulk_operations_path, show_admin ? nil : 'last' %>
      <% end %>
      <% if show_admin %>
        <%= main_nav_helper 'Admin', admin_path, 'last' %>
      <% end %>
    </ul>
  </nav>
</header>
<section id="main">
  <section id="content">
    <% if notice %><p class="notice padded"><%= notice %></p><% end %>
    <% if alert %><p class="error padded"><%= alert %></p><% end %>
    <%= yield %>
  </section>
  <section id="sidebar">
    <%= yield :sidebar %>
  </section>
</section>
<footer>
  <p>
    &copy; <script type="text/javascript">
      var theDate = new Date();
      document.write(theDate.getFullYear());
    </script> | <%= link_to 'Ride Connection', 'http://www.rideconnection.org/' %>
    | <%= link_to '/credits.html',  %>
  </p>
</footer>
<% if current_user %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      sessionTimer = new SessionTimer();
      sessionTimer.start();
    });
    var ClearingHouse = {
      urls: {
        check_session: "<%= check_session_path %>",
        touch_session: "<%= touch_session_path %>",
        sign_out:      "<%= destroy_user_session_path %>"
      },
    };
  <% end %>
<% end %>
</body>
</html>
